body {
    font-family: 'Press Start 2P', cursive;
    background-image: url("../image/modelecrit_txt.jpg") !important; 
    background-size:cover;
    background-repeat: no-repeat;
   padding: 45px;
}

h1{
    color: #29b40e;

}
   
.pendu1{
    
    width: 30rem;
    height:30rem;
    margin-top: 80px;

}
.buttonLetter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .lettre {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: 5px;
        border: 3px dotted #ff0000;
        font-size: 18px;
        color: rgb(251, 255, 0);
        background-color: transparent;

       margin: 5px;
    }
}

.fail{
    color: blanchedalmond;
    font-size: 25px;
}

.word{
    color: blanchedalmond;
    margin-top: 100px;
}
.game{
    display: flex;
    text-align: center;
    min-height: calc(100vh - 90px);
    .gauche{

        flex-basis: 77%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        margin: 30px;

        .word{
            margin-bottom: 2px;
            font-size: 25px;
        }

        .message{
            min-height: 24px;
            margin-bottom: 0;
        }
    }
    .droite{
        flex-basis: 23%;
        margin: 30px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        .reset{
            margin: 75px auto;
            padding: 5px 15px;
        }
    }

}